h1 {
  color: red;
}
body {
  background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.redadn.es%2Fimagenes%2Ffran_335250_pn.jpg&imgrefurl=https%3A%2F%2Fjuegosadn.eleconomista.es%2Fjuegos-friv-gratis-online-para-jugar-no-120272%2F&tbnid=_QlZEqD6vAW55M&vet=12ahUKEwimr5zo4qLsAhXkNbkGHUonBFkQMygBegUIARDOAQ..i&docid=OTxinRDHkSTbQM&w=960&h=475&q=Friv&ved=2ahUKEwimr5zo4qLsAhXkNbkGHUonBFkQMygBegUIARDOAQ);
  background-color: purple;
}
.enlaceElla {
  text-decoration: none;
}
